.footer {
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  color:#ffffff;
}

.footer__content {
  display: flex;
  flex-direction: row;
  padding: 60px 100px 108px 80px;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  padding-top: 16px;
  transition: color .7s ease-in-out;
}

.footer__list-item:hover {
  color: #c1c1c1;
}

.footer__list-item:nth-child(1) {
  padding-top: 0;
}

.footer__social-heading {
  margin:0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 60px 80px;
  margin: 0;
}